*.xml_gen
*.MF_gen
.DS_Store
plugins/org.franca.help
plugins/org.franca.tools.contracts.tracegen/bin
plugins/org.franca.tools.contracts.tracegen/traces
plugins/org.franca.tools.contracts.tracegen/xtend-gen
target
/plugins/org.franca.compmodel.dsl.ui/xtend-gen/org/franca/compmodel/dsl/ui/contentassist/*.xtendbin
/plugins/org.franca.compmodel.dsl/bin/org/franca/compmodel/dsl/fcomp/util/*.class
*.class
*._trace
*.g
*.xtendbin
/plugins/org.franca.compmodel.dsl/bin/org/franca/compmodel/dsl/*.xtextbin
/plugins/org.franca.compmodel.dsl/bin/org/franca/compmodel/dsl
/examples/org.franca.examples.components/bin
/tests/org.franca.deploymodel.dsl.tests/src/org/franca/deploymodel/dsl/fDeploy/tests
/tests/org.franca.compmodel.dsl.tests/src/org/franca/compmodel/dsl/fcomp/tests
/plugins/org.franca.compmodel.dsl.edit/icons/full/ctool16
/plugins/org.franca.compmodel.dsl.edit/icons/full/obj16
/plugins/org.franca.core.tests/src/org/franca/core/franca/tests
/plugins/org.franca.core.editor/src/org/franca/core/franca/presentation
/plugins/org.franca.core.editor/icons/full/obj16
/plugins/org.franca.core.editor/icons/full/wizban
/plugins/org.franca.core.editor
/tests/org.franca.compmodel.dsl.tests/src-gen/org/franca/compmodel/dsl
/plugins/org.franca.core.tests/META-INF
/plugins/org.franca.core.tests
/plugins/org.franca.deploymodel.dsl/model/*.bak
/tests/org.franca.deploymodel.dsl.tests/src/org/franca/deploymodel/dsl/tests
/plugins/org.franca.deploymodel.dsl.edit/icons/full/ctool16
/plugins/org.franca.deploymodel.dsl.edit/icons/full/obj16
/plugins/org.franca.deploymodel.dsl.edit
/plugins/org.franca.deploymodel.dsl.editor
/plugins/org.franca.compmodel.dsl/.settings/*.prefs
/releng/org.franca.product/workspace/.metadata
/examples/org.franca.examples.components/.externalToolBuilders
/plugins/org.franca.compmodel.dsl.editor/bin
org
/plugins/org.franca.compmodel.dsl/bin
/releng/org.francaplus.targetplatform/*.bak
*.bak
/examples/org.franca.examples.components/.settings/org.eclipse.jdt.core.prefs
/plugins/org.franca.compdeploymodel.dsl.ui/.settings/org.eclipse.jdt.core.prefs
/plugins/org.franca.compdeploymodel.dsl/.settings/org.eclipse.jdt.core.prefs
/tests/org.franca.compdeploymodel.dsl.tests.base/.settings/org.eclipse.jdt.core.prefs
/tests/org.franca.compdeploymodel.dsl.tests/.settings/org.eclipse.jdt.core.prefs
