*.xml_gen
*.MF_gen
.DS_Store
target
.settings
*.class
*._trace
*.g
*.xtendbin
*.bak
/plugins/org.franca.compmodel.dsl/bin
/examples/org.franca.examples.components/bin
/tests/org.franca.compmodel.dsl.tests/src-gen/org/franca/compmodel/dsl
/plugins/org.franca.deploymodel.dsl/model/*.bak
/tests/org.franca.deploymodel.dsl.tests/src/org/franca/deploymodel/dsl/tests
/releng/org.franca.product/workspace/.metadata
/examples/org.franca.examples.components/.externalToolBuilders
/plugins/org.franca.compmodel.dsl/bin
/plugins/org.franca.compdeploymodel.dsl.ui/xtend-gen
/examples/org.franca.examples.components/.settings/org.eclipse.jdt.core.prefs
/plugins/org.franca.compdeploymodel.dsl.ui/.settings/org.eclipse.jdt.core.prefs
/plugins/org.franca.compdeploymodel.dsl/.settings/org.eclipse.jdt.core.prefs
/tests/org.franca.compdeploymodel.dsl.tests.base/.settings/org.eclipse.jdt.core.prefs
/tests/org.franca.compdeploymodel.dsl.tests/.settings/org.eclipse.jdt.core.prefs
