<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
  <extension-point id="deploySpecProvider" name="Franca Component Deployment Specification Provider" schema="schema/deploySpecProvider.exsd"/>
  <extension-point id="deploymentValidator" name="Franca Component Deployment Model Validator" schema="schema/deploymentValidator.exsd"/>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.franca.org/compdeploymodel/dsl/FDeploy" 
       class = "org.franca.compdeploymodel.dsl.fDeploy.FDeployPackage"
       genModel = "model/FDeploy.genmodel" /> 
  </extension>

</plugin>
